*
{
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* header start */
header
{
    width: 100%;
    background-color: #FFF8F3;
    background-image: url('images/header_bg.png'),url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,top left;
}
nav
{
    display: flex;
}
span
{
    color: #FD6E0A;
    font-weight: 800;
}
nav h3
{
    font-size: 25px;
    margin-left: 200px;
    font-weight: 800;
}
nav ul
{
    display: flex;
    margin-left: 500px;
    gap: 2rem;
    align-items: center;
}
nav ul li
{
    list-style: none;
    font-size: 17px;
    margin-top: 10px;
}
nav ul li a
{
    text-decoration: none;
    padding: 10px;
    color: #BAB5B3;
}
nav button
{
    background-color: #FD6E0A;
    color: #FFF8F3;
    outline: none;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
nav .btn
{
    padding: 10px;
}
.banner
{
    display: flex;
    padding:30px 30px 0px 150px ;
    align-items: center;
}
.banner-image img
{
    width: 584px;
}
.banner-details
{
    margin-top: 10px;
}
.banner-name
{
    margin-bottom: 0px;
}
.btn-download 
{
    width: 150px;
    height: 40px;
    margin-right: 1rem;
    background-color: #FD6E0A;
    border: 2px solid #3d2e23;
    color: #fff;
}
.btn-contact
{
    width: 120px;
    height: 40px;
    border: 2px solid #FD6E0A;
    color: #FD6E0A;
}
.btn-download i, .btn-contact i{
    margin-right: 5px;
}
/* header end */


/* main section start */

/* about section start */
.about-section
{
    padding: 130px;
    background-color: #FFD9BD;
    text-align: center;
    margin: 130px 130px;
}
.about-footer
{
    display: flex;
    justify-content: space-around;
}
.title-gray
{
    color: #757575;
    margin-bottom: 7px;
}
.title-black
{
    margin-top: 0px;
    color: #000;
}
.section-title
{
    font-weight: bold;
}
/* about section end */

/* what section start  */
.what-section
{
    margin: 130px 130px;
    text-align: center;
}
.what-details-card
{
    display: flex;
    justify-content: space-between;
}
.main-card
{
    width: 220px;
    margin-top: 4rem;
    box-shadow: 1px 1px 5px gray,-1px -1px 5px gray;
    border-radius: 5px;
}
.main-card img
{
    margin-top: 15px;
}
.main-card p{
    margin-bottom: 50px;
    padding: 0px 10px;
}
/* what section end */

/* resume section start */
.resume
{
    margin: 100px 130px;
    color: #0e0c0c;
}
.resume-title
{
    text-align: center;
    font-weight: bold;
}
.total-resume
{
    display: flex;
    justify-content: space-between;
}
.resume-education , .resume-experience
{
    width: 48%;
}
.total-resume h2
{
    margin-bottom: 10px;
    color: #FD6E0A;
    margin-top: 40px;
}
.total-resume p
{
    margin-bottom: 20px;
    width: 500px;
}
.total-resume h3
{
    margin-bottom: 0px;
    margin-top: 7px;
}
.normal-light
{
    margin-top: 10px;
    margin-bottom: 0px;
    color: #C8C8C8;
}
.resume .button
{
    text-align: center;
    margin-top: 1.5rem;
}
/* resume end */
/* main section end */

/* footer start */
footer
{
    width: 100%;
    background-color: #FFF8F3;
}
.main-footer
{
    display: flex;
    justify-content: space-around;
    margin: 0px 130px;
}
.main-footer h2
{
    margin-top: 3rem;
    color: #FD6E0A;
}
.connect-secton ,.message-section
{
    width: 50%;
}
.message-section 
{
    margin-left: 70px;
}
.connect-section p
{
    margin-top: 3.5rem;
}
.main-footer .message-section input
{
    display: block;
    margin-bottom: 1rem;
    padding: 10px 20px;
    border: none;
    width: 100%;
}
.message-section textarea
{
    padding: 10px 25px;
    width: 100%;
    margin-bottom:1rem ;
    border: none;
}
.message-section [type="submit"]
{
    background-color: #FD6E0A;
    color: #fff;
}
.connect-icon i
{
    margin-right: 10px;
    font-size: 20px;
    margin-top: 1rem;
    color: #FD6E0A;
}
/* footer end */